div4 {
    position: relative;
    background: #ffffff;
    top: 120px;
    left: 300px;
    padding-left: 465px;
    padding-right: 145px;
    padding-bottom: 120px;
    box-shadow: 3px 3px #808080,
}

name1{
    position: relative;
    left: 15px;
    top: -10px;
}

phone1 {
    position: relative;
    left: 15px;
    top: -10px;
}

ad1 {
    position: relative;
    left: 15px;
    top: -15px;
}