// This is the white box for each of the contactCards
div4 {
    position: relative;
    background: #ffffff;
    top: 150px;
    left: 300px;
    padding-top: 50px;
    padding-left: 770px;
    padding-bottom:40px;
    box-shadow: 3px 3px #808080;
    // a very slight rounded corner
    border-radius: 3px;
}

// name line for the contact card
name1 {
    font-family: Arial;
    color: #727279;
    font-weight: 600;
    position: relative;
    left: 15px;
    top: -70px;
}

// phone line for the contact card
phone1 {
    position: relative;
    font-family: Arial;
    color: #727279;
    font-weight: 600;
    left: 15px;
    top: -77px;
}

// address line for the contact card
ad1 {
    position: relative;
    font-family: Arial;
    color: #727279;
    font-weight: 600;
    left: 15px;
    top: -85px;
}