
// This is the background color for the big portion of the page
body {
    padding: 0px;
    background-color: #33B8F8;
    font-family: sans-serif;
}

ContactCard {
    position: relative;
    padding-top: 100000px;
}
