div1
{
    background: #4cff00;
    padding-top: 100px;
}

/*
h1{
    position: relative;
    color: #ffffff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    top: 80px;
    left: 625px;
}
    */
body 
{
    padding: 0px;
    // match this better to the ui design
    background-color: #66CCFF;
    font-family: sans-serif;
}

